AppSettings__Secret=<Secret>
AppSettings__EmailFrom=<Email_From>
AppSettings__SmtpHost=<smtp_host>
AppSettings__SmtpPort=<smtp_port>
AppSettings__SmtpUser=<smtp_user>
AppSettings__SmtpPass=<smtp_pass>
ConnectionStrings__SongAppApiDatabase=<Connection_String>
RecommendationService__BaseUrl=<Recommendation_Service_Base_Url>