DATABASE_URL=<connection string>
MUSICBRAINZ_USER_AGENT_APP=<app name>
MUSICBRAINZ_USER_AGENT_VERSION=<app version>
MUSICBRAINZ_USER_AGENT_CONTACT=<app contact email>
DOTNET_API_BASE_URL=<backend url>