
   .socials-background {
    min-height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

.socials-paper {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 720px;
    background-color: #1e1e1e !important;
}